<h3 class="bg-primary p-a-1">{{ getName() }}'s To Do List</h3>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
        	<th></th>
        	<th>Description</th>
        	<th>Done</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of getTodoItems(); let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ item.action }}</td>
            <td><input type="checkbox" [(ngModel)]="item.done" /></td>
            <td [ngSwitch]="item.done" class="{{{true: 'bg-success', false: 'bg-danger'}[item.done]}}">
                <span *ngSwitchCase="true">Yes</span>
                <span *ngSwitchDefault>No</span>
            </td>
        </tr>
    </tbody>
</table>